
.container{
  position:relative;
  width: fit-content;
  
  input[type="date"]{
    position:absolute;
    inset: 0;
    visibility: hidden;
  }
  .picker{
    cursor: pointer;
    background-color: rgb(192, 73, 73);
    width: fit-content;
    padding: 0.25rem 0 0.25rem 0.25rem;
    border-radius: 0.25rem;
  }
}