$side-width: 58px;

#wrapper{
  display: flex;
  position: relative;
  width: 100%;

  #sideNav{
    position:sticky;
    top: 0;
    height: 100%;
    width: $side-width;
  }
  #content{
    width: calc(100% - 58px);
    position: relative;
  }
  #nav{
    position:sticky;
    top: 0;
    left:0;
    right:0;
    z-index: 2;
  }
  #dashpage{
    z-index: 1;
    width: 100%;
  }
}