#wrapper{
  display: flex;
  position: relative;
  width: 100vw;

  #content{

  }
  #nav{
    position:sticky;
    top: 0;
    left:0;
    right:0;
    z-index: 2;
  }
  #sideNav{
    position:sticky;
    top: 0;
    height: 100%;
  }
  #dashpage{
    z-index: 1;
    width: 50%;
  }
}