$width-side: 45px;
$height-nav: 55px;
$min-height-tot: 600px; 


#wrapper{
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: $min-height-tot;

  #sideNav{
    position:sticky;
    top: 0;
    width: $width-side;
    height: 100%;
  }
  #content{
    width: calc(100vw - $width-side);
    position: relative;
    overflow: hidden;

    #nav{
      height: $height-nav;
    }

    #dashpage{
      width: calc(100vw - $width-side);
      height: calc(100vh - $height-nav);
      overflow-x: scroll; 
    }
  }
}