<div class="dashboardPage">
    <h3>Administration:</h3>
    <div id="container">
        <div id="users-container" class="card">
          <h4>Liste Utilisateurs</h4>
          <div class="table-grid table-header">
            <h5>id</h5>
            <h5>pseudo</h5>
            <h5>role</h5>
            <h5>account status</h5>
          </div>
          @for(user of users; track user){
            <div class="table-content">
              <app-user-table [user]="user"></app-user-table>
            </div>
            }
        </div>
        <div id="users-creation" class="card">
          <h4>Creation Utilisateur</h4>
          
        </div>
    </div>
</div>
  
