@import '../../../../styles/color.scss';

#container{
    cursor: pointer;
    width:50px;
    display: flex;
    justify-content: flex-end;
    transform: scale(0.8);
    #content-1{
        border: $text-3 solid 1px;
        padding: 0.25rem 0.75rem;
        border-radius: 100%;
        transition: border-color 0.3s ease, border-radius 0.1s ease;
        background-color: $bg-sidenav;
    }
    #content{

        overflow: hidden;
        width: 18px;
        transition: width 0.3s ease;
        fa-icon{
            padding: 0;
            transition: color 0.3s ease;
        }

    }
    &:hover #content{
        width:25px;
        fa-icon{
            color: mix($primary-1, white, 50%);
        }
    }
    &:hover #content-1{
        border: mix($primary-1, white, 50%) solid 1px;
        border-radius: 30%;
    }
}