@if(compartiment){
    <div id="task-container"
        #compartimentElement
        (dragover)="onDragOver($event)"
        (drop)="onDrop($event)"
    >
        @if(tasks){
            @for(task of tasks; track task){
                <app-drop
                    [attr.id]="task.taskId"
                    [attr.order]="task.taskorder"
                    class="draggable"
                    [attr.order]="task.taskorder"
                    draggable="true"
                    (dragstart)="onDragStart($event)"
                    (dragend)="onDragEnd($event)"
                >
                    <app-task [task]="task"></app-task>
                </app-drop>
            }
        }
    </div>
}