#task-container{
    display: flex;
    flex-direction: column;
    width: 250px;
    min-height: 100vh;
}

.tem{
    height: 100px;
    transition: height 0.3s ease;
}

.temp-transition{
    height: 1250px;
}