<div>
  <div class="title" (mouseenter)="suppressionActive = true" (mouseleave)="suppressionActive = false">
    @if(compartiment){
      <p>{{ compartiment.name }}</p>
      @if(suppressionActive){
        <app-supression-compartiment [id]="compartiment.compartimentId"></app-supression-compartiment>
      }
      <app-creation-task [compartiment]="compartiment"></app-creation-task>
    }
  </div>
  <div cdkDropList [cdkDropListData]="tasks" (cdkDropListDropped)="drop($event)" id="tasks-container">
    @for(task of tasks; track task){
    <div id="container-task" cdkDrag>
      <div class="task-menu">
        <app-task-menu [task]="task"></app-task-menu>
      </div>
      <div class="task" (click)="showTask(task)">
        <div class="header">
          <h4>{{task.title | titlecase }}</h4>
          <h5>{{task.dateCreation | date: 'dd MMMM yyyy' }}</h5>
        </div>
        <div class="content">
          <p>{{ task.text }}</p>
        </div>
        <div class="lane"></div>
        <div class="footer">
          <app-show-choice [importance]="task.importance"></app-show-choice>
          <app-show-choice [progression]="task.progression"></app-show-choice>
          <app-date [date]="task.dateEcheance" (dateEmit)="onDateEcheanceChange($event, task)"></app-date>
        </div>
      </div>
    </div>
    }
  </div>
</div>