@if(compartiment){
    <div id="task-container"
        #compartimentElement
        (dragenter)="onDragEnter($event, compartiment.compartimentId)"
        (dragleave)="onDragLeave($event, compartiment.compartimentId)"
        (dragover)="onDragOver($event, compartiment.compartimentId)"
        (drop)="onDrop($event, compartiment.compartimentId)"
    >
        @if(tasks){
            @for(task of tasks; track task){
                <app-drop
                    [attr.taskid]="task.taskId"
                    [taskId]="task.taskId"
                    draggable="true"
                    (drag)="onDrag($event, task.taskId)"
                    (dragstart)="onDragStart($event, task.taskId, compartiment.compartimentId)"
                    (dragend)="onDragEnd($event, task.taskId)"
                >
                    <app-task [task]="task"></app-task>
                </app-drop>
            }
        }
    </div>
}