<div id="container">
  @if(choices && selected){
      <label for="{{choices.title}}">{{ choices.title }}</label>
      <select id="{{choices.title}}" (change)="onChange($event)" >
        @for(item of choices.data; track item; let i = $index){
          @if(i > 0){
            <option [selected]="item.id == selected" value="{{ item.id }}">{{ item.text }}</option>
          }@else{
            <option [selected]="item.id == selected" value="{{ item.id }}">Choose an option</option>
          }
        }
      </select>
  }
</div>