@import '../../../../styles/color.scss';

#messages{
  position: absolute;
  bottom: 0;
  right: 0;
  overflow: hidden;
  .message{
    padding: 1rem 1.5rem;
    margin: 1rem;
    width: fit-content;
    max-width: 25vw;
    backdrop-filter: blur(15px);
    background-color: $bg-1;
  }
}

.message.valide{
  border-left: solid 3px $color-valide;
  p{
    color: $color-valide;
  }
}
.message.invalide{
  border-left: solid 3px $color-invalide;
  p{
    color: $color-invalide;
  }
}