@import '../../../../../styles/color.scss';

#container{
    .result{
        padding: 0.5rem 1rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;

        h5{
            margin-right: 1rem;
        }

        .food{
            width: 15px;
        }
    }

    #inp{
        padding: 0.5rem 1rem;
        .inp{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
            margin: 0.25rem 0.5rem;
            label{
                align-self: center;
            }
            input{
                align-self: center;
                background-color: $bg;
                border: solid 1px lighten($color: $bg-task, $amount: 30%);
                height: 35px;
                color: $text-1;
                text-align: center;
            }
        }

    }
}