@import '../../../../../styles/color.scss';

#container{
    display: flex;
    align-items: center;
    gap: 0.15rem;
    padding: 0.4rem;
    border: 1px solid transparent;
    background-color: $bg-input-text;
    width: 100%;
    cursor:text;
    input{
        color: white;
        background-color: transparent !important;
        border: none;
        outline: none;
        width: 100%;
        &.strikeThrough{
          text-decoration: line-through;
        }
    }
    &.lg{
        gap: 0.25rem;
        padding: 0.75rem 0.5rem !important;
    }
    &.sm{
      gap: 0.10rem;
      padding: 0.2rem 0.4rem !important;
      input{
          font-size: 0.7em;
      }
    }
    &.border-md{
      border-radius: 0.25rem;
    }
    &.dark{
      background-color: $bg-input-text-2;
    }
    &.normal{
      background-color: $bg-input-text;
    }
    &.light{
      input{
        color: $text-3;
      }
      background-color: lighten($bg-input-text, 10%);
    }

}

.onfocus{
    border: 1px solid transparentize(white, 0.5) !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 0s ease-in-out 5000s;
    box-shadow: inset 0 0 20px 20px #23232329;
}