@import '../../../../../styles/color.scss';

#container{
    display: flex;
    gap: 0.15rem;
    background-color: $bg-input-text;
    padding: 0.4rem;
    border-radius: 0.25rem;
    border: 1px solid transparent;
    width: 100%;
    input{
        color: white;
        background-color: transparent;
        border: none;
        outline: none;
        width: 100%;
    }
    &.lg{
        gap: 0.25rem;
        padding: 0.75rem 0.5rem !important;
    }
}

.onfocus{
    border: 1px solid transparentize(white, 0.5) !important;
}