<div id="items-container"  [formGroup]="taskFomrGroup">
  <p class="control">Controls List {{getActiveList() }}/{{ itemsList.value.length }}:</p>
  <div formArrayName="items" id="array">
    @if(itemsList.getRawValue().length > 0){
      @for(item of itemsList.value; track item; let i = $index){
        <div>
            <app-check size="sm" [id]="i" [round]="true" [checked]="item.actif" (outputEmitter)="onCheck($event, i);"></app-check>
            <app-text size="sm" [focus]="inputFocus" [strikeThrough]="item.actif" placeholder="New item" [content]="item.text" light="light" b_size="border-md" (inputEmitterOnEnter)="saveItem($event,i)" (inputEmitterOnBlur)="saveItem($event,i)">
              <icon-pen-to-square size="icon-0" icon></icon-pen-to-square>
            </app-text>
            <div class="delete" (click)="deleteItem($event,i)">
              <icon-delete size="icon-1" [hover]="true" ></icon-delete>
            </div>
        </div>
      }
    }
  </div>
  <button class="button-add" (click)="addNewItemControl($event)" [disabled]="addItemDisabled">
    <fa-icon [icon]="faPlus"></fa-icon>
    <p>Add a new Item</p>
  </button>
</div>
