<div id="container" #pop>
@if(popUp){
        <div id="content" class="shadow-3">
            <div id="close" >
                <fa-icon [icon]="faClose" (click)="onClose()"></fa-icon>
            </div>
            <p>{{ popUp.message }}</p>
            <div id="action">
            @if(popUp.warning){
              <button class="validation" (click)="onValidate()">Ok</button>
            }@else {
              <button class="validation1" (click)="onCancel()">{{ popUp.actionCancel }}</button>
              <button class="validation" (click)="onValidate()">{{ popUp.actionValidate }}</button>
            }
            </div>
        </div>
    }
</div>
