@import '../../../../styles/color.scss';

#wrapper{
    position:relative;
    #element {
        position: absolute;
        width: 200%;
        height: 200%;
        background: radial-gradient(500px circle ,transparentize($primary-3, 0.9) ,$bg);
        filter: blur(40px);
        opacity: 0;
        transition: opacity 400ms ease, transform 0.2s ease;
        z-index: 1;

    }
    &:hover #element{
        opacity: 1;
    }
    overflow: hidden;
}
#container {
    position: relative;
    background-color: transparentize($bg-task, 0.95);
    z-index: 2;


}