@import 'color.scss';


button{
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  color: inherit;
  padding: 0;
  margin: 0;
}

button.validation{
  width: 100%;
  background-color: $primary-3;
  padding: 0.75rem 0.5rem;
  transition: background-color 0.2s;

  &.br{
    border-radius: 0.25rem;
  }
  &:hover{
    background-color: lighten($color: $primary-3, $amount: 10%);
  }
  &:disabled{
    cursor: default;
    background-color: $bg-1;
    color: rgb(170, 170, 170)
  }
}
button.validation.lg{
  padding: 1rem 0.75rem  !important;
  font-size: 1.05em !important;
}