@import 'color.scss';


button{
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  color: inherit;
  padding: 0;
  margin: 0;
}

button.validation{
  width: 100%;
  background-color: $primary-3;
  padding: 0.5rem;

  &:hover{
    background-color: $primary-2;
  }
}