@import './color.scss';

.shadow-1{
  box-shadow: 0.15rem 0.15rem 0.25rem $bg-sidenav;
}
.shadow-2{
  box-shadow: 0.25rem 0.25rem 0.25rem $bg-sidenav;
}
.shadow-3{
  box-shadow: 0.35rem 0.25rem 0.25rem $bg-sidenav;
}