.table-header{
  color: $text-1;
  background-color: lighten($bg-task, 8%);
  padding: 0.75rem;

  &>h5{
    text-align: center;
  }
}


.table-row{
  color: $text-4;
  padding: 0.5rem 0.75rem;
  &>div{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.table-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.table-header{
  display: grid;
}
.table-media{
  display: grid;

  &:nth-child(odd){
    background-color: darken($bg-task, 4%) !important;
  }

  .table-header{
    display: none !important;
  }
}

@media (max-width: 800px){
  .table-grid{
    grid-template-columns: 1fr;
    justify-items: start;
  }
  .table-header{
    display: none;
  }
  .table-media{
    font-size: 0.85em;
    display: grid;
    grid-template-columns: 2fr 3fr;
    flex-direction: row;
    margin-bottom: 0.5rem;
    .table-header{
      display: grid !important;

    }
  }
}