
$color-valide: green;
$color-invalide: rgb(221, 50, 50);

$picker-color: rgb(221, 50, 50);


$color-dark: (
  100:rgb(28, 28, 28),
  200:rgb(40, 40, 40),
  300:rgb(54, 54, 54),

);

$color-primary:(
  100: #00ADB5,
  200: #00ADB5,
  300: #0c888f,
);

$bg-1: map-get($map: $color-dark, $key: 100);
$bg-2: map-get($map: $color-dark, $key: 200);
$bg-3: map-get($map: $color-dark, $key: 300);

$bg-input-text: $bg-2;
$bg-input-text-2: $bg-1;
$bg-sidenav: $bg-1;
$bg-task: $bg-3;
$bg: $bg-2; 

$primary-1: map-get($map: $color-primary, $key: 100);
$primary-2: map-get($map: $color-primary, $key: 200);
$primary-3: map-get($map: $color-primary, $key: 300);

$text-1: rgb(240,240,240);
$text-2: rgb(225,225,225);
$text-3: rgb(210,210,210);

.bg-1{
  background-color: $bg-1;
}
.bg-2{
  background-color: $bg-2;
}
.bg-3{
  background-color: $bg-3;
}
.bg-3-hover{
  background-color: $bg-3;
  transition: background-color 0.2s ease;
  &:hover{
    background-color: lighten($color: $bg-3, $amount: 8%)
  }
}
.bg-nav{
  background-color: transparentize($bg-1, 0.5);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
.primary-1{
  color: $primary-1
}
.primary-2{
  color: $primary-2
}
.primary-3{
  color: $primary-3
}
.bg-primary-1{
  background-color: $primary-1
}
.bg-primary-2{
  background-color: $primary-2
}
.bg-primary-3{
  background-color: $primary-3
}

fa-icon{
  padding: 0.5rem;
}
