@import './color.scss';


h2{
  font-size: 1.1em;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.35rem
}
h3{
  font-size: 0.9em;
  font-weight: 600;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  width: fit-content;
}
h4{
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  color: mix($primary-1,white,50%);
}


.h6-lane{
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  color: $text-3;
  margin-bottom: 0.5rem;
  font-size: 0.8em;
  text-transform: uppercase;

  span{
    display: block;
    height: 1px;
    width: 100%;
    background-color: $text-3;
  }
}

label{
  font-size: 0.85rem;
  color: $text-4;
}