@import './color.scss';


h2{
  font-size: 1.1em;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.35rem
}
h3{
  font-size: 0.9em;
  font-weight: 600;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  width: fit-content;
}

.dashboardPage h3{
  position: sticky;
  top: 1rem;
  z-index: 2;
}
.h6-lane{
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 200;
  opacity: 0.8;
  margin-bottom: 0.5rem;

  span{
    opacity: 0.8;
    display: block;
    height: 1px;
    width: 100%;
    background-color: white;
  }
}