@import '../../../../../styles/color.scss';

section{

  div{
   display: flex;
 }
 #status{
  display: flex;
  gap: 0.75rem;
 }
 .clicker{
  padding: 0.5rem;
  border-radius: 100%;
  transition: background-color 0.2s;
  cursor: pointer;
  &:hover{
    background-color: lighten($bg-task, 5%);
  }
 }

}