@if(task){
  <div [attr.draggable]="true" (dragstart)="dragStart($event)" (dragover)="dragOver($event)" [attr.data-type]="'task'">
    <app-task-menu [task]="task"></app-task-menu>
    <div id="task" (click)="showTask()">
        <div >
          <div id="header">
            <h4>{{task.title | titlecase }}</h4>
            <h5>{{task.dateCreation | date: 'dd MMMM yyyy' }}</h5>
            <h6>{{ task.taskorder }}</h6>
          </div>
          <hr>
        </div>
        <div id="content">
          <p>{{ task.text }}</p>
        </div>
        @if(task.dateEcheance){
          <div>
            <hr>
            <input type="date" name="" id="" value="{{task.dateEcheance}}">
          </div>
        }
    </div>
  </div>
}
