@import '../../../../styles/color.scss';

#task{
    font-size: 0.8em;
    padding: 0.25rem 0;
    width: 100%;
    max-height: 400px;
    background-color: $bg-1;
    margin-top: 0.75rem;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-left: solid 4px $primary-3;
}
h4{
  font-weight: 100;
}
h5{
  font-style: italic;
  font-size: 0.8em;
  font-weight: 400;
  opacity: 0.6;
}
#header{
  padding: 0 0.5rem;
}
#content{
  position:relative;
  padding: 0.25rem 0.5rem;
  overflow: hidden;
  p{
    font-family: Arial, Helvetica, sans-serif;
    word-break: break-all;
    color: rgb(185, 185, 185);
    font-size: 0.85em;
    font-weight:100;
  }
}
.lane{
  height: 1px;
  width:100%;
  background-color: rgba($color: white, $alpha: 0.3);
  margin: 0.25rem 00;
}

#footer{
  padding: 0 0.5rem;
  display: flex;
  justify-content: flex-end;
}