@import '../../../../styles/color.scss';

#container{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 1rem;
  a{
    text-decoration: none;
    color: $text-3;
    fa-icon{
      margin-right: 0.5rem;
    }
    &:hover{
      color: $text-1;
    }
  }
}