@import '../../../../../styles/color.scss';


  #task-overlay{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
    background-color: transparentize($color: $bg-2, $amount: 0.3);
    width: 100%;
    z-index: 3;
  }

  #task{
    padding: 2rem;
    background-color: $bg-3;
    color: $text-2;
    min-width: 700px;

    .tag{
      margin: 0.5rem 0;
    }

    h4{
      font-weight: 500;
    }
    h5{
      font-weight: 300;
      opacity: 0.8;
    }
  }
