@import '../../../../../styles/color.scss';


  #task-overlay{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
    background-color: transparentize($color: $bg-2, $amount: 0.5);
    width: 100%;
    z-index: 3;
  }

  #task{
    padding: 1.25rem;
    background-color: $bg-2;
    color: $text-2;
  }
