<div id="container">
  @if(user){
    <app-card>
      <span title>Recapitulatif</span>
      <div class="grid">
        <div>User Id:</div><div>{{ user.userId }}</div>
        <div>Pseudo:</div><div>{{ user.pseudo }}</div>
        <div>Role:</div><div>{{ user.role }}</div>
        <div>Date Creation:</div><div>{{ user.dateCreation | date : 'dd-MM-YY hh:mm' }}</div>
        <div>Last Connection:</div><div>{{ user.dateLastConnection? (user.dateLastConnection | date : 'dd-MM-YY hh:mm') : 'Never logged' }}</div>
      </div>
    </app-card>
    <app-card>
      <span title>Update</span>
      <div class="grid">
        <div>Account Locked</div><div><app-check (outputEmitter)="onLockedAcount($event)" [checked]="!user.accountNonLocked"></app-check></div>
        <div>Delete this user:</div>
        <div class="clicker" (click)="onDelete()">
          <icon-delete [color]="true"></icon-delete>
        </div>
      </div>
    </app-card>
  }
</div>
