@import '../../../../styles/color.scss';

#wrapper{
  height: 100%;
  padding: 1rem 0rem;
  nav{
    margin-top: 6rem;
  }
  ul{
    list-style: none;
    margin: 0;
    padding: 0;

    li{
      margin: 0.5rem 0;
    }
    a{
      position: relative;

      width: 100%;
      text-decoration: none;
      color: inherit;
      padding: 0.75rem 0.5rem;
      display: flex;
      justify-content: center;
    }
    a.active{
      color: map-get($map: $color-primary, $key: 300)
    }
    a.active .line{
      position: absolute;
      width: 0.25rem;
      height: 100%;
      top:0;
      left: 0;
    }


  }
}

fa-icon{
  transition: opacity 0.2s linear;
  &:hover{
    opacity: 0.6;
  }
}

a.active div[position]::before,
a.active div[position]::after{
  position: absolute;
  content: '';
  z-index: 1;
  width: 1rem;
  height: 1rem;
}

a.active div[position="before"]::before,
a.active div[position="before"]::after{
  top: 0;
  right: 0;
  transform: translateY(-100%);
}
a.active div[position="after"]::before,
a.active div[position="after"]::after{
  bottom: 0;
  right: 0;
  transform: translateY(100%);
}

a.active div[position="before"]::before{
  z-index: 2;
  background-color: $bg-sidenav;
  border-radius: 0% 0% 100% 0%;
  
}
a.active div[position="before"]::after{
  z-index: 1;
  background-color: $bg;
}
a.active div[position="after"]::before{
  z-index: 2;
  background-color: $bg-sidenav;
  border-radius: 0% 100% 0% 0%;
  
}
a.active div[position="after"]::after{
  z-index: 1;
  background-color: $bg;
}

