<div id="wrapper" class="bg-sidenav">
  <nav>
    <ul>
      @for(route of dashboardChildRoutes; track route){
        @if(route.data){
          <li>
            <a routerLinkActive="bg active" routerLink="{{route.path}}" >
              <div position="before"></div>
              <div class="line bg-primary-2"></div>
              <div class="gelatine">
                <fa-icon class="icon-2" [icon]="route.data['icon']"></fa-icon>
              </div>
              <div position="after"></div>
            </a>
          </li>
        }
      }
    </ul>
  </nav>
</div>
