@import '../../../../styles/color.scss';


.tooltip {
    position: absolute;
    background-color: $bg-task;
    background-color: $bg-1;
    color: #fff;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 2px 3px 4px $bg;
    z-index: 10;
    text-wrap: nowrap;

    &.sm{
      padding: 0.3rem;
      font-size: 0.7em;
    }
  }
  
  .top {
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .bottom {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .left {
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
  }
  
  .right {
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
  }