@import '../../../../../styles/color.scss';

#container {
    position:relative;
    width: fit-content;

    &.sm{
        .checkmark{
            width: 16px;
        }
        .active.checkmark{
            &::after{
                font-size: 0.55em;
            }
        }
    }

    label{
        display:block;
        width: fit-content;
    }

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .checkmark{
        cursor: pointer;
        width: 20px;
        aspect-ratio: 1/1;
        border: 2px solid white;
        border-radius: 0.25rem;
        &.round{
            border-radius: 100%;
        }

    }

    .active.checkmark{
        border: 2px solid transparent;
        background-color: $primary-2;
        &::after{
            content: '✔';
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 0.5em;
        }
    }
  }