<div id="container">
    @if(header && header.length > 0){
        <div class="title grid">
            @for(item of header; track item){
            <p>{{ item }}</p>
            }
        </div>
        @if(content && content.length > 0){
            @for(arr of content; track arr){
                <div class="title grid">
                    @for(item of header; track item){
                    <p>{{ item }}</p>
                    }
                </div>
                <div class="grid">
                    @for(item of arr; track item){
                    <p>{{ item }}</p>
                    }
                </div>
            }
        }
    }
</div>