<div id="container">
    @if(header && header.length > 0){
        <div class="title grid header" [style]="'grid-template-columns:repeat(' + header.length + ', 1fr)'">
            @for(item of header; track item){
            <p>{{ item }}</p>
            }
        </div>
        @if(contents && contents.length > 0){
            @for(arr of contents; track arr){
              <div class="content-container" (click)="onClick(arr.id)" [ngClass]="{'clickable' : clickable  }">
                <div class="title grid">
                    @for(item of header; track item){
                    <p>{{ item }}</p>
                    }
                </div>
                <div class="grid content" [style]="'grid-template-columns:repeat(' + header.length + ', 1fr)'">
                    @for(item of arr.content; track item){
                    <p>{{ item }}</p>
                    }
                </div>
              </div>
            }
        }
    }
</div>