#wrapper{
  overflow: hidden;
  display: flex;
  position: relative;

  #content{
    width: 100%;
  }
  #nav{
    position:sticky;
    top: 0;
    width: 100%;
    z-index: 2;
  }
  #sideNav{
    position:sticky;
    top: 0;
    height: 100%;
  }
  #dashpage{
    z-index: 1;
  }
}