@import 'styles/color.scss';
@import 'styles/transition.scss';
@import 'styles/button.scss';
@import 'styles/size.scss';
@import 'styles/typographie.scss';
@import 'styles/loading.scss';

*{
  margin: 0;
  box-sizing: border-box;
}
html, body { height: 100%; }
body { color: $text-1; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.temp-item{
  background-color: $bg-1;
  opacity: 0.5;
  margin: 10px;
  width: calc(100% - 20px);
}

.dragging{
  cursor: grabbing !important;
}

