@import 'styles/color.scss';
@import 'styles/transition.scss';
@import 'styles/button.scss';
@import 'styles/size.scss';
@import 'styles/typographie.scss';

*{
  margin: 0;
  box-sizing: border-box;
}
html, body { height: 100%; }
body { color:white; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }




