#container{
    form{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}
.input {
    max-width: 500px;
    display: grid;
    gap: 0.25rem;
    grid-template-columns: 1fr 5fr;
    align-items: center;

    &.item-button {
        button{
            grid-column: 1 / span 2;
        }
    }
}